pipelines/PL_02_Ingest_Customer_Data_JSON.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"lh_customer_intelligence_bronze":{"type":"string"},"ai_customer_intelligence_con ous_fabric":{"type":"string"}},"variables":{},"resources":[{"name":"PL_02_Ingest_Customer_Data_JSON","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup_Customer_Intelligence_JSON","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"LakehouseReadSettings","recursive":false,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_customer_intelligence_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"73b222f8-dd79-4a44-92b9-1b5aeed74c77","artifactId":"[parameters('lh_customer_intelligence_bronze')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":"json_files_config.json","folderPath":"config_files"}},"schema":{}}}},{"name":"ForEach_SourceJSON","type":"ForEach","dependsOn":[{"activity":"Lookup_Customer_Intelligence_JSON","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Lookup_Customer_Intelligence_JSON').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"DeleteExistingFiles","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_customer_intelligence_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"73b222f8-dd79-4a44-92b9-1b5aeed74c77","artifactId":"[parameters('lh_customer_intelligence_bronze')]","rootFolder":"Files"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"sink_file","type":"Expression"},"folderPath":{"value":"@item().sink_folder","type":"Expression"}}}},"enableLogging":false,"storeSettings":{"type":"LakehouseReadSettings","recursive":false,"enablePartitionDiscovery":false}}},{"name":"Copy_Customer_Intelligence_JSON","type":"Copy","dependsOn":[{"activity":"DeleteExistingFiles","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"JsonReadSettings"},"datasetSettings":{"annotations":[],"type":"Json","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@item().source_url","type":"Expression"}}},"schema":{},"externalReferences":{"connection":"[parameters('ai_customer_intelligence_con ous_fabric')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_customer_intelligence_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"73b222f8-dd79-4a44-92b9-1b5aeed74c77","artifactId":"[parameters('lh_customer_intelligence_bronze')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().sink_file","type":"Expression"},"folderPath":{"value":"@item().sink_folder","type":"Expression"}}},"schema":{}}},"enableStaging":false}}]}}],"lastModifiedByObjectId":"120dac36-e10a-4ade-b6ad-162bf4635d7d","lastPublishTime":"2026-07-02T20:43:22Z"},"dependsOn":[]}]}