pipelines/PL_01_Ingest_Customer_Data_CSV.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"lh_customer_intelligence_bronze":{"type":"string"},"ai_customer_intelligence_con ous_fabric":{"type":"string"}},"variables":{},"resources":[{"name":"PL_01_Ingest_Customer_Data_CSV","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup_Customer_Intelligence_CSV","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"LakehouseReadSettings","recursive":false,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_customer_intelligence_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"73b222f8-dd79-4a44-92b9-1b5aeed74c77","artifactId":"[parameters('lh_customer_intelligence_bronze')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":"csv_files_config.json","folderPath":"config_files"}},"schema":{}}}},{"name":"ForEach_Source_CSV","type":"ForEach","dependsOn":[{"activity":"Lookup_Customer_Intelligence_CSV","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Lookup_Customer_Intelligence_CSV').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"Copy_Customer_Intelligence_CSV","type":"Copy","dependsOn":[{"activity":"DeleteExistingFiles","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@item().source_url","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('ai_customer_intelligence_con ous_fabric')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","fileExtension":".txt"},"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_customer_intelligence_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"73b222f8-dd79-4a44-92b9-1b5aeed74c77","artifactId":"[parameters('lh_customer_intelligence_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().sink_file","type":"Expression"},"folderPath":{"value":"@item().sink_folder","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"DeleteExistingFiles","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_customer_intelligence_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"73b222f8-dd79-4a44-92b9-1b5aeed74c77","artifactId":"[parameters('lh_customer_intelligence_bronze')]","rootFolder":"Files"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().sink_file","type":"Expression"},"folderPath":{"value":"@item().sink_folder","type":"Expression"}}}},"enableLogging":false,"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":false,"enablePartitionDiscovery":false}}}]}}],"lastModifiedByObjectId":"120dac36-e10a-4ade-b6ad-162bf4635d7d","lastPublishTime":"2026-07-02T20:14:31Z"},"dependsOn":[]}]}